<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href="/static/blog/bs/css/bootstrap.css">
    <script src="/static/blog/bs/jquery-3.3.1.js"></script>
    <script src="/static/blog/bs/js/bootstrap.js"></script>
    <style></style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <h3 style="margin-top: 50px">注册页面</h3>
            <form id="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }} <span class="error pull-right"></span>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <label for="avatar">头像
                    <img src="/static/media/avatars/default.png" alt="" width="60" height="60" style="margin-left: 20px" id="avatar_img">
                    </label>
                    <input type="file" id="avatar" style="display: none">

                </div>
                <input type="button" class="btn btn-default reg_btn pull-right" value="提交"><span class="error"></span>
        </form>
    </div>
</div>
</div>

<script>
    $("#avatar").change(function () {
            var file_obj=$(this)[0].files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file_obj);
            reader.onload=function(){
                $("#avatar_img").attr("src",reader.result)
            }

        }
    );
    //刷新验证码
    //登录验证
    $(".reg_btn").click(function () {
        var formdata = new FormData();
        var request_data=$("#form").serializeArray();
        $.each(request_data,function (index,data) {
            formdata.append(data.name,data.value)

        });

        {#formdata.append("user",$("#id_user").val());#}
        {#formdata.append("pwd",$("#id_pwd").val());#}
        {#formdata.append("re_pwd",$("#id_re_pwd").val());#}
        {#formdata.append("email",$("#id_email").val());#}
        {#formdata.append("csrfmiddlewaretoken",$("[name='csrfmiddlewaretoken']").val());#}
        formdata.append("avatar",$("#avatar")[0].files[0]);
        $.ajax({
                url: '',
                type: 'post',
                data: formdata,
                contentType:false,
                processData:false,
                success: function (data) {
                    console.log(data);
                    if (data.user) {
                        location.href = "/login/"
                    }
                    else {
                        $("span.error").html("");
                        $("span.error").parent().removeClass("has-error");
                        $.each(data.msg,function (field,error_list) {
                             if(field=="__all__"){
                                  $("#id_re_pwd").next().text(error_list[0]).css({"color": "red"});
                                  $("#id_re_pwd").parent().addClass("has-error");
                             }
                             $("#id_"+field).next().text(error_list[0]).css({"color": "red"});
                             $("#id_"+field).parent().addClass("has-error");
                        });

                    }
                }
            }
        )
    })
</script>
</body>
</html>